<!DOCTYPE html>
<html ng-app="DontForget" ng-csp>
<head>
    <title>Alert Management and Settings</title>
    <link href="../vendor/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../vendor/jquery-ui.css" rel="stylesheet">
    <link href="../popup/styles.css" rel="stylesheet">

    <script src="../vendor/jquery.min.js" type="text/javascript"></script>
    <script src="../vendor/jquery-ui.js" type="text/javascript"></script>
    <script src="../vendor/angular.min.js" type="text/javascript"></script>
    <script src="../vendor/angular-ui.min.js" type="text/javascript"></script>
    <script src="../vendor/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="../popup/DontForget.js"></script>
</head>
<body>
    <div id="mainContainer" class="" style="margin: 20px;" ng-controller="DontForgetCtrl">
        <tabset>
            <tab heading="Reminder Mgmt" select="loadAlerts()" active="activeTab.mgmt">
                <div class="center" style="margin: 5px 0px 0px 0px; height: 500px">
                    <div ng-repeat="alert in alerts" ng-class="getAlertClass(alert.date)" type="alert.type" close="closeAlert($index)">
                        <span class="{{alert.repeat}}">&nbsp;</span>{{alert.msg}}
                        <span class="pull-right">
                        	<span ng-show="isExpired({{alert.date}})"><a href="" ng-click="SnoozeAlert({{alert.id}})"><img src="../images/snooze.png" class="snooze"></a></span>
                        	<span tooltip="{{showTooltip(alert.repeat)}}"><a href="" ng-Click="DeleteAlert({{alert.id}})"><i class="icon-trash"></i></a></span>
                    	</span>
                    </div>
                    <div ng-hide="alerts.length">There are no reminders set to manage</div>
                </div>
            </tab>
            <tab heading="Settings" select="loadSettings()">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="settings.snoozeTime">Snooze Time</label>
                        <div class="controls">
                            <input type="number" id="settings.snoozeTime" min="5" max="60" ng-model="settings.snoozeTime" style="width:35px" />
                            (minutes)
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="settings.timeFormat">Time Format</label>
                        <div class="controls">
                            <select id="settings.timeFormat" ng-model="settings.timeFormat">
								<option value="h:mm a">4:05 pm</option>
								<option value="HH:mm">16:05</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="settings.dateFormat">Date Format</label>
                        <div class="controls">
                            <select id="settings.dateFormat" ng-model="settings.dateFormat">
								<option value="MMM d, y">Sep 5, 2013</option>
								<option value="y-MM-dd">2013-09-05</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary" ng-click="SaveSettings()">Save</button>
                    <div id="settings-saved-alert" class="label label-success hide" style="margin-top: 5px;">
                        Settings have been saved.
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</body>
</html>