<!DOCTYPE html>
<html ng-app="DontForget">
<head>
    <title>Never Forget Again!</title>
    <link href="bootstrap-combined.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="angular.min.js" type="text/javascript"></script>
    <script src="angular-ui.min.js" type="text/javascript"></script>
    <script src="ui-bootstrap-tpls.min.js" type="text/javascript"></script>

    <script src="DontForget.js"></script>

</head>
<body>
<div class="contentWrapper" ng-controller="DontForgetCtrl">
    <div id="content">
        <div class="center"><input id="reminderText" type="text" ng-model="reminderText" placeholder="Don't forget this!"></div>
        <div class="center">
            <div class="btn-group">
                <button type="button" class="btn selected" ng-model="radioModel" btn-radio="'in'">IN</button>
                <button type="button" class="btn" ng-model="radioModel" btn-radio="'on'">ON</button>
            </div>
        </div>

        <div class="center" id="setMinutes" style="margin:10px" ng-show="radioModel == 'in'">
            <input type="number"  min="0" max="72" value="0" style="width:35px" /> Hours
            <input type="number"  min="0" max="59" value="15" style="width:35px" /> Minutes

        </div>
        <div class="center" id="setDate" style="margin:10px" ng-show="radioModel == 'on'">
            <div class="form-horizontal">
                <input type="text" style="width: 150px;" datepicker-popup="MMMM-dd-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                at
                <div ng-model="mytime" ng-change="changed()" style="display:inline-block;">
                    <input type="time" value="{{mytime}}" style="width:100px" />
                </div>
            </div>
        </div>
        <div class="center" id="isRepeat" style="margin: 10px">
            <span class="dropdown" >
               <a class="dropdown-toggle btn" role="button" ng-model="selectedRepeat" data-toggle="dropdown" style="text-decoration: none" >{{selectedRepeat}}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in ddRepeat">
                        <a ng-click="onRepeatClicked('{{item}}')">{{item}}</a>
                    </li>
                </ul>
            </span>
        </div>
        <div class="center" id="saveCancel">
            <input class="btn-primary" type="submit" value="Save" ng-click="SaveAlert()">
            <input class="btn-danger" type="submit" value="Cancel">
        </div>
        <div class="center" style="margin: 5px">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
</body>
</html>