body{
    margin-left: 0px;
    margin-right: 0px;
}
.contentWrapper{
    width: 350px;
    margin: 10px 0px 10px 0px;
    height: 350px;
    background-color: #FFFFFF;
}

.center{
    text-align: center;
}

.alert{
    padding: 8px 25px 8px 0px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-error{
    padding: 8px 25px 8px 0px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b94a48;
}

.repeat{
    background-image: url(../img/Loop.png);
    width: 16px;
    height: 16px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.snooze{
    /*background-image: url(../img/snooze.png);  */
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.dropdown-menu>li>a {
	cursor: pointer;
}